<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Tech</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-flex-start align-items-flex-start p-2">
      <nav id="nav-bar">
        <!-- Conditionally render login or logout links -->
        <a href="/dashbord" class="nav-link">Dashbord</a> 
        {{#if logged_in}}            
        <button class="no-button nav-link" id="logout">Logout</button>
        
        {{else}}
        <a href="/login" class="nav-link">Login</a>
        {{/if}}
      </nav>
      <div>
        <button class="blog-button" onclick="window.location.href='/';">Blog Tech Home Page</button>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  <script src="/js/comment.js"></script>
  {{#if logged_in}}
  
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
